<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAN Music Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<body>
  <h1>Welcome to the GAN Music Visualizer!</h1>
  <h2>This visualizer will create videos similar to those seen in the following places:</br>
    <a href="https://www.youtube.com/watch?v=kkpWfGzoems&t=2s">YouTube</a></br>
    <a href="https://www.tiktok.com/@trippygan?lang=en">TikTok</a></br>
    <a href="https://www.instagram.com/trippygan/">Instagram</a></br>
    </br>
    To get started, all you will need is an <b>MP3 file</b> for the song you are trying to visualize, as well as the <b>lyrics</b>.
    The following prompts will walk you through how to use them.
  </h2>
  </br>
  </br>
  <h1>Step 3:<h1>
  <h1>Specify Inputs</h1>
  <h2>Below are some toggleable elements, based on the original deep music visualizer. </br><b> If you don't know what these do, then just ignore them and click next at the bottom!</b></b></h2>
  <!-- <div> -->
    <form action="/processing" method="POST">
      <b>Duration:</b>The duration of the song. If not selected, will process the entire song.
      <input min="1" max="100" value="" placeholder="" id="duration" name="duration">
      <br>
      <b>Pitch Sensitivity:</b> How rapidly the class vector responds to changes in pitch. Higher represents more sensitive.
      <input type="range" min="200" max="295" value="220" placeholder="220" class="slider" id="pitchSensitivity" name="pitchSensitivity" oninput="this.nextElementSibling.value = this.value" required><output>220</output>
      <br>
      <b>Tempo Sensitivity:</b> How rapidly the noise bector changes with volume and tempo. Higher represents more sensitive.
      <input type="range" min="0.05" max="0.8" value="0.25" placeholder="0.25" step="0.01" class="slider" id="tempoSensitivity" name="tempoSensitivity" oninput="this.nextElementSibling.value = this.value" required><output>0.25</output>
      <br>
      <b>Depth:</b>Max value of vector units. Closer to 1 is more thematically rich, closer to 0 is "deeper" structures (like dogs and faces).
      <input type="range" min="0.01" step="0.01" max="1" value="1" placeholder="1" class="slider" id="depth" name="depth" oninput="this.nextElementSibling.value = this.value" required><output>1</output>
      <br>
      <b>Number of Classes:</b> The number of image classes that will be handled simultaneously.
      <input type="range" min="1" max="12" value="12" placeholder="12" class="slider" id="numClasses" name="numClasses" oninput="this.nextElementSibling.value = this.value" required><output>12</output>
      <br>
      <b>Jitter:</b> Adds random noise.
      <input type="range" min="0" max="1" step="0.01" value="0.5" placeholder="0.5" class="slider" id="jitter" name="jitter" oninput="this.nextElementSibling.value = this.value" required><output>0.5</output>
      <br>
      <b>Frame Length:</b> Duration of frames -- inversely proportional to frame rate. Lower values represent higher quality.
      <input  min="0" value="512" placeholder="512" id="frameLength" name="frameLength" required>
      <br>
      <b>Truncation:</b> Controls the variability of the images generated by limiting the max values. 1 allows all, 0 are simpler images with more normal looking objects.
      <input type="range" min="0" max="1" step="0.01" value="1" placeholder="1" id="frameLength" name="frameLength" oninput="this.nextElementSibling.value = this.value" required><output>1</output>
      <br>
      <b>Smooth Factor:</b> There is a smoothing process using interpolation. Useful for fast music, which one should lower the smooth factor.
      <input type="range" min="10" max="30" value="20" placeholder="20" class="slider" id="smoothFactor" name="smoothFactor" oninput="this.nextElementSibling.value = this.value" required><output>20</output>
      <br>
      <b>Subtitles:</b> Include subtitles?
      <input type="checkbox" name="subtitles" value="checked">
      <br>
      <input name="Submit" type = "submit" value = "Next" />
  <!-- </div> -->
    </form>



</html>