<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAN Music Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
</head>
<body>
  <h1>Welcome to the GAN Music Visualizer!</h1>
  <h2>This visualizer will create videos similar to those seen in the following places:</br>
    <a href="https://www.youtube.com/watch?v=kkpWfGzoems&t=2s">YouTube</a></br>
    <a href="https://www.tiktok.com/@trippygan?lang=en">TikTok</a></br>
    <a href="https://www.instagram.com/trippygan/">Instagram</a></br>
    </br>
    To get started, all you will need is an <b>MP3 file</b> for the song you are trying to visualize, as well as the <b>lyrics</b>.
    The following prompts will walk you through how to use them.
  </h2>
  </br>
  </br>
  <h1>Awesome! Processing the music now to create your awesome video!</h1>
  Please be patient while this process takes place. It can take a pretty long time (10-15 minutes), so just wait while that happens!
</body>


</html>